<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftEngine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA110AE71C563BD600D8EF5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA110AF61C563BD700D8EF5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA110B011C563BD700D8EF5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
